.background {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(180deg);
}

.createBreed{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    padding: 1rem 0;
}



@media (max-width: 640px) {
    .background{
        width: 100%;
        top: -10rem;
    }

    .createBreed{
        padding: 2rem 0 0 0;
    }

    .createBreed__form {
        width: 100%;
    }
}