@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');


:root {
  --color-primary : #00A6C7;
  --color-light : #F5F5DC;
  --color-secondary : #005D77;
  --color-secondary-sub : #045369;

  --color-third : #FFC98A;
  --color-third-sub : #ebb77d;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--color-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

